.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #0E1525; */
    background-image: linear-gradient( #08183A, #22252E, #0C0C0C);
    
}
.todoMainContainer{
    width: 50%;
    padding: 20px;
    min-height: 40vh;
    border: 5px solid #D6C05F;
    border-radius: 5px 15px 5px 15px;
    background-color: #1C2333;
}
.MainForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputText{
    width: 80%;
}
.inputBtn{
    width: 15%;
    height: fit-content;
    padding: 15px;
    margin-top: -25px;
    color: gold;
    font-size: 18px;
    background-image: linear-gradient(to bottom right, #06828C, #394C4D);
}
.TodoMainList{
    display: flex;
    border: 2px solid #957D2D;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0px;
}
.TodoList{
    width: 100%;
}
.TodoListBtns{
    max-width: 50%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TodoListBtns Button{
    padding: 10px 25px;
}
.Spinner{
    display: flex;
    justify-content: space-evenly;;
    height: 100px;
    align-items: center;
}
.input{
    border: 1px solid #957D2D;
    padding: 15px;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #0E2F30, #154C55);
}
.input:focus{
    color: #ffffff;
    font-size: 17px;
}
.Card{
    border: 1px solid #485170;
    /* background-color:darkslateblue; */
    background-image: linear-gradient(to bottom right, #1C2E3C , #073B5F);
    color: #ffffff;
    font-size: 20px;
}
.cardBtns{
    color: gold;
    font-size: 18px;
    background-image: linear-gradient(to bottom right, #06828C, #394C4D);
}
.CardComplete{
    background-image: linear-gradient(to bottom right, #032B2D, #0C554E );
}
.CompleteHeading{
    text-align: center;
    color: #fff;
}
.AddSometodoText{
    color: #fff;
}
.Spin{
    color: #31D2F2;
}
.noCompleteTodoText{
    color: #fff;
}
@media screen and (max-width: 1000px) {
    .todoMainContainer{
        width: 100%;
        padding: 10px;
        min-height: 40vh;
        border: 2px solid #D6C05F;
        border-radius: 0%;
    }
    .inputText{
        width: 65%;
    }
    .inputBtn{
        width: 30%;
        height: fit-content;
        padding: 15px;
        margin-top: -2px;
    }
    .textMuted{
        display: none;
    }
    .TodoListBtns{
        max-width: 100%;
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .TodoListBtns Button{
        padding: 8px 15px;
    }
    .Spinner{
        display: flex;
        justify-content: space-evenly;;
        height: 100px;
        align-items: center;
    }
    .Spinner h4{ display: none; }
}